[submodule "pytorchqc"]
	path = pytorchqc
	url = https://github.com/nathanielasun/pytorchqc


[submodule "qcbuilder"]
	path = web_qc_builder
	url = https://github.com/nathanielasun/qcbuilder
[submodule "qcjs"]
	path = qcjs
	url = https://github.com/nathanielasun/qcjs
[submodule "qtictactoe"]
	path = qtictactoe
	url = https://github.com/nathanielasun/qtictactoe
